.idea/

Imperium/bin/

Imperium/obj/

ldeps/

*.DotSettings*
giosuel.Imperium.dll

manifest.json

out/

Imperium.props.user

*.zip

Imperium/resources/assets/assets

Imperium/resources/assets/assets.manifest

Imperium/resources/assets/imperium_assets.manifest
